html {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #666;
}

body {
    padding-left: 0;
    margin-left: 0;
    background-image: url('./assets/diagmonds.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

:root {
    --green:#81bf63;
    --gray: #444;
    --blue: #5784C2;
    --bg-color: #999;
    --bg-image: linear-gradient(62deg, #3a3d40 0%, #1e1d1f 100%);
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    display: block;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    top: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
}

#navbar ul :hover {
    background-color: #666;
}

#navbar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    font-size: 1rem;
    height: 40px;
    width: 70px;
}

header {
    text-align: center;
}

header img{
    height: 400px;
    padding-top: 120px;
    padding-bottom: 30px;
    transition: all 0.5s linear;
}

header img:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 251, 0, 0.8));
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate{
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

section {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

hr {
    width: 49%;
    height: 5px;
}

.blue {
    -webkit-filter: drop-shadow(5px 5px 20px rgba(10, 32, 226, 0.897));
    border: 3px solid rgba(29, 29, 247, 0.61);
    background-color: rgb(36, 36, 253);
    border-radius: 5px 0 0 5px;
}

.saber {
    height: 50px;
    padding-top: 10px;
}

.red {
    -webkit-filter: drop-shadow(5px 5px 20px rgba(226, 10, 10, 0.897));
    border: 3px solid rgba(247, 29, 29, 0.61);
    background-color: rgb(252, 47, 47);
    border-radius: 0 5px 5px 0;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

div {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div:hover {
    transform: scale(1.02);
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.644);
    cursor: pointer;
    transform: translatey(-4px);
  }

h1, p {
    color: #ccc;
}

.photo {
    width: 70%;
    height: auto;
}
